nav{
    height:60px;
    background:salmon;
    
    margin:0px;
    padding:0px;
}

a{
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    padding-top: 20px;
    text-decoration: none;
    float:left;
    color:white;
}